
d-i debian-installer/locale string en_US  
d-i keyboard-configuration/xkb-keymap select us  
d-i keyboard-configuration/layoutcode string us  
d-i keyboard-configuration/modelcode string pc105  
d-i keyboard-configuration/variantcode string  
d-i keyboard-configuration/variant select English (US)  
d-i keyboard-configuration/layout select English (US)  
d-i console-setup/ask_detect boolean false  
d-i console-setup/layoutcode string us

d-i hw-detect/load_firmware boolean true

d-i auto-install/enable boolean true

d-i netcfg/enable boolean true
d-i netcfg/choose_interface select auto
d-i netcfg/link_wait_timeout string 20
d-i netcfg/dhcp_timeout string 60
d-i netcfg/wireless_wep string
d-i netcfg/wireless_skip_wep boolean true

d-i netcfg/get_hostname string
d-i netcfg/get_hostname seen false
d-i netcfg/hostname string
d-i netcfg/hostname seen false
d-i netcfg/get_domain string local
d-i netcfg/domain string local

d-i mirror/country string manual
d-i mirror/http/hostname string http.kali.org
d-i mirror/http/directory string /kali
d-i mirror/http/proxy string

d-i apt-setup/use_mirror boolean true
d-i apt-setup/services-select multiselect
d-i apt-setup/non-free-firmware boolean true
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true
d-i apt-setup/cdrom/set-first boolean false
d-i apt-setup/disable-cdrom-entries boolean true
d-i apt-setup/enable-source-repositories boolean false

d-i clock-setup/utc boolean true
d-i time/zone string US/Eastern
d-i clock-setup/ntp boolean true

d-i passwd/root-login boolean false
d-i passwd/user-fullname string kali
d-i passwd/username string kali
d-i passwd/user-password password changeme
d-i passwd/user-password-again password changeme

d-i partman/early_command string \
    TARGET="$(list-devices disk | grep '^/dev/nvme' | head -n1)"; \
    [ -n "$TARGET" ] || exit 1; \
    debconf-set partman-auto/disk "$TARGET"

d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-efi/non_efi_system boolean true
d-i partman-partitioning/choose_label select gpt
d-i partman-partitioning/default_label string gpt

tasksel tasksel/first multiselect standard
d-i pkgsel/include string \
    curl git sudo isc-dhcp-client network-manager firmware-misc-nonfree kali-desktop-xfce kali-linux-default
d-i pkgsel/upgrade select full-upgrade

popularity-contest popularity-contest/participate boolean false  
macchanger macchanger/automatically_run boolean false  

# Kismet prompts  
kismet kismet/install-setuid boolean false  
kismet kismet/install-users string  
kismet-capture-common kismet-capture-common/install-setuid boolean false  
kismet-capture-common kismet-capture-common/install-users string

wireshark-common wireshark-common/install-setuid boolean false  
sslh sslh/inetd_or_standalone select standalone

d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true

#d-i finish-install/reboot_in_progress note
d-i debian-installer/exit/halt boolean true

d-i preseed/late_command string \
    touch /target/root/preseed_log || true; \
    mkdir -p /target/usr/share/keyrings; \
    wget https://archive.kali.org/archive-keyring.gpg -O /target/usr/share/keyrings/kali-archive-keyring.gpg >> /target/root/preseed_log 2>&1 || true; \
    wget https://raw.githubusercontent.com/tallmega/preseed/refs/heads/main/preseed_post.sh -O /target/root/preseed_post.sh >> /target/root/preseed_log 2>&1 || true; \
    chmod +x /target/root/preseed_post.sh >> /target/root/preseed_log 2>&1 || true; \
    echo >> /target/etc/crontab || true; \
    echo @reboot root /root/preseed_post.sh <code1> <code2> <code3> <whaaa\ephemeral=false\&preauthorized=true> >> /target/etc/crontab || true
